*{
    padding: 0;
    margin: 0;
}

Header{
    background-color: red;
    text-align: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#eslogan, #text{
    font-family: 'Anton', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

.videoEntrada{
    display: flex;
    height: 100vh;
    min-width: 95vw;
    background-color: #f1f1f1;
    align-items: center;
}

video{
    background-color: #f1f1f1;
    max-height: 95vh;
    max-width: 75vw;
}

.cajaSuperior{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

.callToAction{
    width: 8rem;
}

.container{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4em;
}

.img{
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.carousel{
    width: 98%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorCarrousel{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto{
    margin: 20px 20px 20px 20px;
    width: 30vw;
    height: 38vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid 2px;
    border-radius: 10px;
}

.foto:hover{
    transform: scale(1.1);
}

.contenedorDeFoto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titulo{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.next{
    background-color: black;
}

.prev{
    background-color: black; 
    color: darkblue;
}

footer{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.footerInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    color: white;
    text-align: center;
}

.boton{
    width: 4rem;
}

.logoyeslogan img{
    width: 25vw;
}

.footerFinal{
    display: flex;
    justify-content: center;
    height: 30px;
    color: black;
}

.main{
    background-color: black;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.tituloCity{
    position: absolute;
    z-index: 6;
    color: black;
    background-color: black;
    min-height: 30vh;
    width: 60%;
    background-color: rgba(255,255,255,0.5);
    font-family: 'Dela Gothic One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(47, 74, 226);
    border-radius: 10px;
}

.itinerarios{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em 0 2em 0;
}

.card{
    height: 45vh;
    width: 30vw;
    margin: 14px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    animation-name: aparicion;
    animation-duration: 3s;
}

.cardImg{
    height: 100%;
    width: 100%;
    border: black solid 1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 1);
    text-decoration: none;
}

.card:hover{
  transform: scale(1.1);
}

.card:hover .estrella{
  opacity: 1;
}

.estrella{
  position: absolute;
  width: 25px;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0;
}

.filtro{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
  height: 25vh;
  width: 60vw;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 15px;
}

.title{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    margin-top: 8em;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

.initeraryMain{
  display: flex;
  align-items: center;
  justify-content: center;
 /*  background-color: black; */
  height: 100vh;
}

.itineraryPresentacion{
  width: 70%;
  height: 45vh;
 /*  background-color: chartreuse; */
}

.fotoPresentacion{
  width: 10vw;
  height: 20vh;
 background-color: white;
  margin-top: 12vh;
  position: absolute;
  margin-left: 2em;
  border-radius: 100%;
  border: 3px solid black;
  z-index: 1000;
}

.infoPresentacion{
  width: 58vw;
  height: 40vh;
  background-color: black;
  margin-top: 1em;
  margin-left: 6em;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.banner{
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloBanner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  width: 60vw;
  height: 45vh;
}

.itineraryButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0 2em 0;
}

.button{
  margin: 0 1em 0 1em;
  min-height: 7vh;
  min-width: 12vw;
  border-radius: 20px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  box-shadow: black 2px 2px 2px 0px;
  color: white;
  font-weight: bold;
}

.buscaTuCiudad{
  font-family: 'Anton', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 30px;
}

#ciudadIndividual{
  font-family: 'RocknRoll One', sans-serif;
  font-size: 3ch;
  color: aquamarine;
}

p{
  font-family: 'Inconsolata', monospace;
  font-family: 'RocknRoll One', sans-serif;
}

.preloader{
  background-color: white;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Planet */

@keyframes mapfront_spin {
    0% {
      background-position: 1400px 0%;
    }
   
    100% {
      background-position: 0 0%;
    }
  }
  
  @keyframes mapback_spin {
    0% {
      background-position: 0 0%;
    }
   
    100% {
      background-position: 1400px 0%;
    }
  }
  
  @-webkit-keyframes mapfront_spin {
    0% {
      background-position: 1400px 0%;
    }
   
    100% {
      background-position: 0 0%;
    }
  }
  
  @-webkit-keyframes mapback_spin {
    0% {
      background-position: 0 0%;
    }
   
    100% {
      background-position: 1400px 0%;
    }
  }
  .globo {
    width: 400px;
    height: 400px;
    position: relative;
  }
  .frontal {
    width: 400px;
    height: 400px;
    background: url(http://1.bp.blogspot.com/-R7NM2HBq--Q/UesCwsosv3I/AAAAAAAAKrs/ZZm2CMlqVWs/s1600/1.png);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
  }
  .back {
    width: 400px;
    height: 400px;
    background: url(http://1.bp.blogspot.com/-Hke9nBhL3Gc/UesDBMdQypI/AAAAAAAAKr0/4d9J8v5i58o/s1600/2.png);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mapfront, .mapback {
    border-radius: 300px;
    width: 340px;
    height: 340px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 4;
  }
  .mapfront {
    background: url(http://1.bp.blogspot.com/-M5AZ_16w8b4/UesDQ6r3miI/AAAAAAAAKr8/Sj0Tu25SgWA/s1600/3.png) repeat-x;
    -webkit-animation: mapfront_spin 15s linear infinite;
    animation: mapfront_spin 15s linear infinite;
  }
  .mapback {
    background: url(http://2.bp.blogspot.com/-PEUhx5zxLcg/UesDeRIwkmI/AAAAAAAAKsE/XvusGF7_Omc/s1600/4.png) repeat-x;
    position: absolute;
    -webkit-animation: mapback_spin 15s linear infinite;
    animation: mapback_spin 15s linear infinite;
  }

/* preload */

.centered{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#000;
	filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background: black;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}

/* tipeo*/

.middle{
  transform: translate(-0%,-0%);
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.5);

}

.btn{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}


.btn2::before{
  width: 100%;
  height: 0%;
}
.btn2:hover::before{
  height: 100%;
}

.btn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 380%;
}

.btn4::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.btn4:hover::before{
  height: 380%;
}

/* media */

@media (max-width:576px){

  .tituloCity{
    width: 100%;
  }
  .card{
    width: 85vw;
  }
  form{
    width: 100vw;
  }
  .descripcion{
    display: none;
  }
  #ciudadIndividual{
    font-size: 20px;
  }
  .tituloBanner{
    width: 100%;
  }
  .enConstrucion{
    width: 60vw;
  }
  .logoFooter{
    display: none;
  }
  .redesDiv{
    display: none;
  }
  .btn{
    height: 8vh;
    width: 55vw;
  }
  .notFound{
    width: 50%;
  }
}

@media (max-width:1060px){
  .descripcion{
    display: none;
  }
}

#userOff{
  margin: 5px 10px 0 0;
  position: absolute;
  top: 0;
  right: 0%;
}

@media (min-width:576px){

  .textTip{
    font-size: 90px;
  }

}

.serverCaido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ff7675;
}

.serverCaido img{
  max-width: 100%;
}

.notFound{
  width: 50%;
}

@keyframes aparicion{
  0%{opacity: 0%;}
  100%{opacity: 100%}
}
